<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <main>
    <h1>Items for Sale</h1>
    <ul>
      <% items.forEach(function(item) { %>
        <li>
          <h2><%= item.title %></h2>
          <p><%= item.description %></p>
          <p>Price: $<%= (item.price_cents / 100).toFixed(2) %></p>
          <img src="<%= item.image_url %>" alt="<%= item.title %>">
        </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>
