<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/messages.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/messages-feed.js"></script>

</head>

<body>
  <main>
    <%- include('partials/_header') %>
    <h1>Messages 📨</h1>
    <h2>Messages Feed</h2>
    <ul class="message-feed">
    </ul>
    <div class="message-card">
      <img class="message-card-img" src="<%= messages[0].image_url %>" alt="<%= messages[0].title %>">
      <div class="message-card-info">
        <h3>Item Name: <%= messages[0].title %>  </h3>
        <p>Item Description: <%= messages[0].description %> </p>
        <p>Buyer: <%= messages[0].name %></p>
      </div>
    </div>

    <div class="message-card">
      <img class="message-card-img" src="<%= messages[0].image_url %>" alt="<%= messages[0].title %>">
      <div class="message-card-info">
        <h3>Item Name: <%= messages[0].title %>  </h3>
        <p>Item Description: <%= messages[0].description %> </p>
        <p>Buyer: <%= messages[0].name %></p>
      </div>
    </div>

  </main>
</body>

</html>
